
{% extends 'base.html.twig' %}
{% block  metatitle %}market+ accueil{% endblock %}
{% block content %}
<!---je recupere le header dans le fichier base.html.twig--->
<!---je recuper les informatioon du fichier pagecontroller puis jaffiche tout--->
<center><br><br><br><br><br>
{% for book in books %}
        <div id="center" ><h1>{{ book.setTitle }}</h1></div>
        <div id="center" ><p>{{ book.author }}</p></div>
        <!---<a href="{{ path('book', {'id': book.id}) }}">voir</a>--->
        <a href="{{ path('book', {'id': book.id}) }}"><img class="radius-img" height="540px" src="{{ book.image }}"/></a><br><br><br>
{% endfor %}
</center>
{% endblock content %}
